.comment{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.comment-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 115px;
}
.input-field{
    border-radius: 25px;
    padding-left: 35px;
    width: 180px;
}
.icon-size{
    height: 18px;
    width: 18px;
    color: black;
    margin-right: -28px;
    z-index: 2;
}